* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/static/images/wallpaper.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.box {
    position: relative;
    width: 375px;
    padding: 30px;
    background: #191919;
    margin: 50px 30px 70px auto;
    color: #f5f5f5;
    height: calc(100vh - 120px);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .box {
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;

        width: 100%;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
}